[Desktop Entry]
Type=Application
Version=1.0
Name=SomvillaChat
Comment=Matrix Client. Chat with your friends
Exec=AppRun
Icon=SomvillaChat
Terminal=false
Categories=Network;Chat;InstantMessaging;X-Matrix;