[Desktop Entry]
Name=SomvillaChat
GenericName=Matrix Client
Comment=Chat with your friends
Exec=SomvillaChat
Icon=${SNAP}/meta/gui/SomvillaChat.png
Terminal=false
Type=Application
Categories=Network;Chat;InstantMessaging;
